<%# ToDo: Move javascript imports to chat view %>
<% content_for :head do %>
  <%= javascript_include_tag "/static/Orbited" %>
  <script>TCPSocket = Orbited.TCPSocket</script>
  <%= javascript_include_tag "/static/protocols/xmpp/xmpp" %>
  <%= javascript_include_tag "chat" %>
  <script>
    user_name = "<%= current_user.login %>";
    user_token = "<%= current_user.single_access_token %>";
  </script>
<% end %>

<h1>All users</h1>

<table>
  <tr>
    <th>Contact login(name)</th>
  </tr>

<% @contacts.each do |contact| %>
  <tr id='<%= contact.login %>' <%= " class='blocked'" if current_user.blocked?(contact) %>>
    <td><%=h contact.login %></td>
    <td><%=h contact.last_activity_in_words %></td>
    <td class='action_link'><%= link_to_remote 'Chat', { :url => chat_path(:contact_id => contact.to_param, :format => "js"), :method => :get }, { :class => ('hidden' if current_user.blocked?(contact)) } %></td>
    <td class='action_link'>
      <%= link_to_remote 'Block', { :url => block_user_path(:id => contact.to_param, :format => "js"), :method => :put }, { :class => ('hidden' if current_user.blocked?(contact)) } %>
      <%= link_to_remote 'Unblock', { :url => unblock_user_path(:id => contact.to_param, :format => "js"), :method => :put }, { :class => ('hidden' unless current_user.blocked?(contact)) } %>
    </td>
  </tr>
<% end %>
</table>


<div id="chat_popup" class="hidden stroke_border">
  <%= render :partial => 'chat/show' %>
</div>
