$('#status').empty(); // TODO: enhance error messages
$('#send_chat_message')[0].reset();

onSendMessage('<%= escape_javascript(@jid) %>', '<%= escape_javascript(@jid) %>', '<%= escape_javascript(@message.try(:to_param)) %>');

if ($('#chat_' + $.escape('<%= escape_javascript(@jid) %>')).length == 0) {
  $('#chat_box').append('<div id="chat_<%= escape_javascript(@jid) %>" style="height:100px;border:1px solid black;overflow:scroll;"></div>');
}
$('#chat_' + $.escape('<%= escape_javascript(@jid) %>')).append("<p><span class='self'>me:</span> <%= escape_javascript(@content) %>");
