<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %> (XMPP)</title>
    <%= javascript_include_tag "jquery", "jquery-ui", "jrails", "jquery.escape", "application" %>
    <%= stylesheet_link_tag "scaffold", "chat" %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      <div id="status"></div>
      
      <%= yield %>
    </div>
  </body>
</html>
