<% content_for :head do %>
  <%= javascript_include_tag "/static/Orbited" %>
  <script>TCPSocket = Orbited.TCPSocket</script>
  <%= javascript_include_tag "/static/protocols/xmpp/xmpp" %>
  <%= javascript_include_tag "chat" %>
<% end %>
<h1>Chat</h1>

<div id="users">
  <h2>Users</h2>
  <% remote_form_for "chat_contact", :url => { :controller => "chat_contacts", :action => "create" } do |f| %>
    <h2>Add contact</h2>
    <%= f.text_field 'jid' %>
    <%= f.submit "Add contact" %>
  <% end%>
</div>


<div id="roaster">
  <h2>Roaster</h2>
</div>

<div id="new_message">
  <h2>New message</h2>
  <% remote_form_for "chat_message", :url => { :controller => "chat_messages", :action => "create" } do |f| %>
    <label for="recipient_id">Recipient's JID<label>
    <%= f.text_field 'recipient_id' %>
    <label for="content">Message<label>
    <%= f.text_field 'content' %>
    <%= f.hidden_field 'sender_id', :value => "" %> 
    <%= f.submit "Send message" %>
  <% end %>
</div>
